@import "../typography.scss";

:host {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1,
h2 {
	font-weight: 400;
}

h3,
h4,
h5,
h6 {
	font-weight: 500;
}

h1 {
	font-size: 6rem;
}
h2 {
	font-size: 3.75rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.125rem;
}
h5 {
	font-size: 1.5rem;
}
h6 {
	font-size: 1.25rem;
}
