:host {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	display: block;
}

:host h1,
:host h2,
:host h3,
:host h4,
:host h5,
:host h6 {
	line-height: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

:host h1,
:host h2 {
	font-weight: 400;
}

:host h3,
:host h4,
:host h5,
:host h6 {
	font-weight: 500;
}

:host h1 {
	font-size: 6rem;
}
:host h2 {
	font-size: 3.75rem;
}
:host h3 {
	font-size: 3rem;
}
:host h4 {
	font-size: 2.125rem;
}
:host h5 {
	font-size: 1.5rem;
}
:host h6 {
	font-size: 1.25rem;
}
