:host {
	display: block;
}

.TextField {
	display: block;
	background: rgba(0, 0, 0, 0.025);
	padding: 6px 8px 8px;
	border-radius: 6px;
	box-shadow: inset 0 0 0 0 currentColor;

	transition: 0.1s;

	&:focus-within {
		box-shadow: inset 0 0 0 2px currentColor;
	}
}

.TextField--disabled {
	background: transparent;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
}

.TextField__Label {
	display: block;
}

.TextField__Label__ErrorMessage {
	color: red;
}

.TextField__Input {
	display: block;
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 0.875rem; // 14px

	&:focus {
		outline: none;
	}
}

.TextField__Input::-webkit-input-placeholder {
	color: currentColor;
	opacity: 0.2;
}
.TextField__Input::-moz-placeholder {
	color: currentColor;
	opacity: 0.2;
}
.TextField__Input:-ms-input-placeholder {
	color: currentColor;
	opacity: 0.2;
}
.TextField__Input:-moz-placeholder {
	color: currentColor;
	opacity: 0.2;
}

slot {
	text-decoration: inherit;
}
